@use "../../styles/partials/mixins" as *;

.game {
  @include flex;
  @include margin;
  margin-top: 2rem;

  &__answer {
    @include flex(column);
  }

  &__puzzle {
    width: 100%;
  }

  &__wrong {
    color: red;
    padding-block: 0.5rem;
  }
}
