.game {
  display: flex;
  max-width: 1280px;
  margin-top: 2rem;

  &__answer {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__puzzle {
    width: 900px;
  }

  &__wrong {
    color: red;
  }
}
