.image {
  width: 50%;
  padding-block: 2rem;

  &__img {
    padding: 2rem;
  }

  &__wrong {
    color: red;
    padding-block: 0.5rem;
  }

  &__complete {
    color: blue;
    font-size: 2rem;
    max-width: 30%;
  }
}
