@use "../../styles/partials/typography";
@use "../../styles/partials/resets";

.header {
  padding: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  &__title {
    padding-bottom: 1rem;
  }

  &__subheader {
    display: flex;

    &--blue {
      color: #009cda;
      padding-inline: 2rem;
    }
    &--yellow {
      color: #fcd000;
      padding-inline: 2rem;
    }
    &--red {
      color: #e71e07;
      padding-inline: 2rem;
    }
    &--green {
      color: #42b132;
      padding-inline: 2rem;
    }
  }
}
