@use "../../styles/partials/mixins" as *;

.characters {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  gap: 5px;

  &__container {
    width: calc(100% / 4);
    border: 1px solid black;
    // height: 15rem;
  }

  &__cell {
    padding: 10px;
    text-align: center;
  }

  &__index {
    font-weight: bold;
  }

  &__cell--hidden {
    visibility: hidden;
    display: none;
  }

  &__text {
    margin: 0;
  }

  &__image {
    max-width: 100px;
    // height: auto;
  }
}
