.table {
  width: 60%;
  border: 1px solid black;

  &__column {
    &-item {
      padding: 2rem 3rem;
      border: 1px solid black;
    }
  }

  &__row {
    padding: 1rem;
    border: 1px solid black;

    &-item {
      padding-block: 2rem;
      border: 1px solid black;
    }
  }
}
