@use "../../styles/partials/mixins" as *;

.characters {
  display: flex;
  flex-wrap: wrap;

  &__container {
    padding: 2rem;
    border: 2px solid black;
    width: calc(100% / 4);
  }

  &__image {
    width: 10%;
  }
}
