@use "../../styles/partials/mixins" as *;
.answer {
  @include flex(column);
  margin: 2rem;

  &__input {
    padding: 1.5rem;
    font-size: 1rem;
  }

  &__submit {
    padding: 0.5rem;
    &:hover {
      background-color: red;
    }
  }
}
