.answer {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin-block: 2rem;

  &__input {
    padding: 1.5rem;
    font-size: 1rem;
  }

  &__submit {
    &:hover {
      background-color: red;
    }
  }
}
